@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* .sample-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--light-text);
  background-color: #ffffff;
}
:root {
  --orange: #f76b56;
  --grey: #626262;
  --light-text: #8a8a8a;
  --dark-text: #4d4d4d;
}
/* universal css classes */
.eleDiv {
  height: 40px;
  margin: 5px;
  border-radius: 40px;
  box-shadow: 1px 1px 3px;
  font-size: 1rem;
  max-width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  min-width: 11%;
  overflow: hidden;
  label {
    font-size: 16px;
  }
}
.line {
  height: 25px;
  width: 1px;
  background-color: var(--light-text);
}
a {
  text-decoration: none;
  list-style: none;
  color: var(--dark-text);
  text-transform: capitalize;
  cursor: pointer;
}
a :hover {
  color: black;
  transform: scale(1.05);
}
.divisions {
  height: 285px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .div-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .div-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
  }
}
/* -------------------css startin here------------------------ */
.container {
  background-color: rgba(0, 0, 0, 0.295);
  width: 100vw;
  height: 100vh;
  display: flex;
  .side-bar {
    width: 20%;
    height: 100%;
    background-color: #ffffff;
  }
  .main-container {
    flex: 1;
    margin-left: 1px;

    .main {
      flex: 1;
      background-color: aquamarine;
      width: 30%;
    }
    .main-upper {
      margin: 1%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1%;
    }
    .main-lower {
      width: 100%;
      background-color: #ffffff;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      /* .divisions {
        padding: 20px;
        display: flex;
        justify-content: space-around;

       
        gap: 2%;
        width: 90%;
        height: 300px;
        overflow: hidden;
        flex-wrap: wrap;
      } */
    }
  }
}
