body {
  background-color: rgb(66, 66, 66);
}
.navBar {
  background-color: rgb(51, 102, 51);
  text-align: center;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}
.mainContainer {
  background-color: rgb(146, 136, 124);
  display: flex;
  padding: 10px;
  /* width: 100vw;
  height: 100vh; */
}
.sidebar {
  /* border: 2px solid red; */
  width: 20%;
  margin-right: 5px;
  padding: 1%;
  height: 60vh;
  color: yellowgreen;
}
.notes {
  border: 1px solid rgb(30, 43, 33);
  width: 100%;
}
.note-container {
  /* border: 2px solid black; */

  padding: 15px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.new-note {
  /* border: 1px solid rebeccapurple; */
  width: 10%;
  margin: 10px;
  box-shadow: 1px 1px 3px;
  border-radius: 10px;
}
.new-note button {
  font-size: 4rem;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
